*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.title{
    font-size: 62px;
    color: #272727;
    font-weight: 800;
}
.paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn{
    padding: 15px 25px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    border: none;
    border-radius: 5px;
}
/* ------ Common ----- css---- end------- */
/* ------ nav ----- css---- start------- */
#nav-main{
    height: 60px;
    background: #00ffff;
}
.nav-container-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-col{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}
.logo-img{
    width: 200px;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
}
.nav-menu li a{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
    
    
}
.nav-menu li a:hover{
    color: #E55473;
}
/* ------ nav ----- css---- end------- */
/* ------ Banner ----- css---- start------- */
#banner-section{
    padding: 110px 0;
    background: rgba(229, 84, 115, 0.102);
    position: relative;
}
.banner-row{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.banner-img{
    width: 100%;
}
.banner-col{
    display: flex;
    align-items: center;
}
.banner-dec{
    width: 50%;
    margin: 25px 0;
}
.banner-col-img{
    position: absolute;
    bottom: -110px;
    right: 20px;
    width: 40%;
}


/* ------ Banner ----- css---- end------- */

/* ------  ----- css---- start------- */
/* ------  ----- css---- end------- */

/* ------  ----- css---- start------- */
/* ------  ----- css---- end------- */

/* ------  ----- css---- start------- */
/* ------  ----- css---- end------- */

/* ------  ----- css---- start------- */
/* ------  ----- css---- end------- */